# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.env/
.venv/
env/

# =========================
# FastAPI / Uvicorn
# =========================
*.log
*.pid

# =========================
# Database
# =========================
*.db
*.sqlite3

# Alembic
alembic/versions/__pycache__/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.iml

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Test / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Logs
# =========================
logs/
